.press {
  min-height: 100vh;
  padding-top: 1rem;
  background-color: #fff ;
  margin: 2rem 1.8rem !important;
}
.press > .row .col {
  padding: 0 !important ;
}

.press-card {
  background-color:  #fff ;
  text-align: center;
  transition: all .3s;
  margin-bottom: 4rem;
  cursor: pointer;
  padding: 0 !important;
}

.press-card span {
  border: 1px solid black;
  padding: .5rem 5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .2s;
}
.press-card span:hover{
  background-color: black;
  color: #fff;
}

.brand-image{
  width: 100%;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
}
.brand-image img{
  width: auto;
  height: 60px;
  transform: scale(.7);
}
.press-card h6{
  margin: 0 auto;
  font-size: .8rem;
  color: grey;
  letter-spacing: .2rem;
}
.press-card p{
  font-size: .7rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  color: grey;
}

.press-card  img.rectangle-image-grid {
  opacity: 1;
  transition: all .3s;
}

.m-degree-press-modal-footer span{
  color: #e0e0e0;
font-size: .6rem;
font-weight: lighter;
}
.modal-overlay{
  opacity: 1 !important;
}

.text-press{
  padding-bottom: 1rem;
}

@media (min-width: 10px ) and (max-width: 600px){
  .press .row .col {
    float: none;
  }
}

@media (min-width: 601px) {

  body .press {
    min-height: 100vh;
    padding-top: 0rem;
    background-color: #fff ;
    margin: 1.6rem !important;
  }
  .press-card {
    margin: 2rem 0;
    transition: all .3s;
    padding: 0 .2rem !important;
  }
}

@media (min-width: 1350px) {
  .m-degree-c .row{
    width: 80%;
    margin-left: 10% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
