.modal .m-degree-press-modal-footer h5{
  margin-top: .1rem !important;
  color: #e0e0e0;;
  text-shadow: none;
  margin-bottom: 0rem;
  text-align: center;
}

.press-card h6{
  color: #2d2d2d;
}

.m-degree-press-modal-footer p{
  margin-top: .5rem !important;
  text-align: center;
}


.text-press p{
  margin: 0;
  padding: 0 !important;
}

@media (min-width: 601px) {
  div.row .press-1> div.col.s12.main-image > div {
    text-align: center;
    max-height: 65vh;
    width: auto;
  }
  div.row .press-1 > div.col.s12.main-image > div > img{
    width: auto;
    max-height: 60vh !important;
  }
}
