.desserts-container{
  padding-top: 1rem;
  padding: 5px;
}
/*
.row-of-images img{
  width: 150px;
  height:104px;
  padding: .5rem 0;
} */
 div.row > div.col.s12.main-image > div > img{
  width: 100%;
  height: 100%;
}
.card-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 300px;
  overflow: hidden;
}

.card-img  img{
 max-width: 600px;
}


/* .row-of-images img{
  max-width: 160px;
  max-height: 130px;
} */

@media (min-width: 601px) {
  .press-card .card-img div{
    max-height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  .card-img {
      height: 280px;
      display: flex;
      justify-content: center;
  }
  .card-img  img{
   max-width: 120%;
  }
  .secondary-press-image {
    width: 40%;
    height: auto;
    padding: .5rem 0rem;
    padding-left: 1rem;

  }
  .m-degree-press-modal-footer{
    margin-bottom: 0rem;
  }
  .m-degree-press-modal-footer h5{
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .card-img {
    height: 250px;
  }
  .m-degree-press-modal-footer{
    width: 100% !important;
  }
  .secondary-press-image {
    padding: 0;

  }
}
