/* <div className="plus hide-on-med-and-up" >
  <i class="material-icons">fullscreen</i>
</div> */


.desserts-container img{
  cursor: pointer;
  opacity: 1;
  /* padding: 4px; */
}

.dessert-image {
  /* border: 2px solid white; */
  border-bottom: 0px;
  border-top: 0px;
  padding: 1px 2px !important;
  margin: 0;
  position: relative;
  margin-bottom: .1rem;
}

.desserts-container{
  /* padding-top: 1rem; */
  margin: 2.4rem 1.2rem !important;
  margin-bottom: 1rem;
  position: relative;
}

.dessert-image  span{
  display: none;
  position: absolute;
  margin: 0;
  padding: 0 ;
  bottom: 0;
  justify-content: center;
  align-items: center;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  opacity: 1;
  background-color: #3825257a;
  /* background-color: #502f1f8f; */
  /* background-color: #6a749652; */
  /* background-color: rgba(0,0,0,0.5); */
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  letter-spacing: .2rem;
  cursor: pointer;
  border: 2px solid #fff;
  /* border-left: none; */
  /* border-right: none; */
  /* border-radius: 5px; */
}
.dessert-image  span{
  transform: translateY(-20px);
  transition: all .4s;
}
.dessert-image:hover span{
  display: flex;
  transform: translateY(0px);
}
.desserts-container img:hover{
  cursor: pointer;
  opacity: 1;
}
.desserts-container img:active{
  cursor: pointer;
  opacity: .9;
  border: 2px solid #d4d4d4;
}

.rectangle-image-grid{
  width: 100%;
}
.rectangle-image-grid{
  padding: 0;
}


  
@media (min-width: 600px) {

  .desserts-container{
    padding-top: 1rem;
    margin: 2rem 1.3rem !important;
    margin-bottom: 1rem;
    position: relative;
  }

  .m-degree-container{
    width: 100% !important;
    /* width: 90%;
    margin-left: 5%;
    padding-top: 1rem; */

    /* margin-left: 0%;
    padding-top: 0rem; */
  }
  .dessert-container span {
    border: 5px solid #fff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid white;
    /* border-radius: 10px; */
  }
}
