.close-modal-icon {
  text-align: right;
  background-color: none;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 21px;
  width: 21px;
  color: white;
  z-index: 10;
  opacity: .5;
}
.close-modal {
  cursor: pointer;
}
.modal-backdrop.in {
    filter: alpha(opacity=100);
    opacity: 1 !important;
}

.modal-dialog{
  height: 100% !important;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px){
  .modal-dialog {
      width: 700px !important;
      margin: 10px auto;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    font-weight: 200;
    font-size: 25px;
  }
}

@media (min-width: 980px){
  .modal-dialog {
      width: 700px !important;
      margin: 0px auto;
  }

}
