
.about-container{
  position: relative;
  border: 0px solid red;
  padding-top: 2rem;
}

.contact-container img{
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem;
  padding: .3rem;
  margin-top: 3rem;
  border-radius: 3rem;
  transition: all .3s;
  border: .1rem solid white;
  border-radius: 50%;
}

.contact-container img:hover{
  border: .1rem solid grey;
  /* background-color: #cf3a6e; */
}
.text-container, .contact-container{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  text-transform: none;
}

.text-container h1{
  padding-top: 50px;
  padding-bottom: 150px;
}


.right-photo{
  position: absolute;
  top: 2.9rem;
  right:-1rem;
  width: 129px;
}

.left-photo{
  position: absolute;
  top: 3rem;
  left:-.7rem;
  width: 138px;
}

.right-photo img , .left-photo img{
  width: 100%;
}


@media (min-width: 600px) {
  .text-container, .contact-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .text-container{
    position: relative;
    background-color: #ffffffab;

    font-size: .9rem;
  }
  .text-container h1{
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .right-photo{
    position: fixed;
    top: 11.9rem;
    right:-2rem;
    width: 195px;
  }

  .left-photo{
    position: fixed;
    top: 12rem;
    left:-1.5rem;
    width: 210px;
  }

  .right-photo img , .left-photo img{
    width: 100%;
  }
  .contact-container img{
    margin-top: 4rem;
  }

}

@media screen and (min-width: 1200px) {
  .about-container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .right-photo{
    position: fixed;
    top: 13.4rem;
    right:0rem;
    width: 195px;
  }

  .left-photo{
    position: fixed;
    top: 13.5rem;
    left:0rem;
    width: 210px;
  }
}
