@font-face {
  font-family: 'Kiona', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Kiona'), local('Kiona'),
       url('/fonts/Kiona-Regular.ttf')
}

body{
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: lighter;
  font-size: .8rem;
}
h1{
  color: black;
  font-size: 1.6rem;
  font-weight: lighter;
  font-family: 'Kiona', sans-serif;
  text-align: center;
}

h2{
  font-family: 'Kiona', sans-serif;
  font-size: 1.5rem;
  color: darkgrey;
  text-align: center;
}
h3{
  font-family: 'Kiona', sans-serif;
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}
h5{
  font-family: 'Kiona', sans-serif;
  font-size: 1.2rem;
  color: grey;

}

.nav-container{
  margin-bottom: 0rem;
  margin-top: 0;
  height: 85px;
}

.mdegree-logo-container {
  text-align: center;
  height: 100px;
}


.mdegree-nav .nav-expanded{
  display: none;
}

.mdegree-nav {
  background: white !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 85px;
}
.top-nav-mdegree a{
  margin: 0;
  margin-top: 1.7rem;
  padding: 0;
  border-bottom: 2px solid white;
  transition: border-bottom .4s;
}
.top-nav-mdegree a:hover{
  border-bottom: 2px solid  #cf3a6e;
}

.nav-link-border a {
  border-bottom: 2px solid  #a29e9f;
  color: grey !important;
}

nav ul a:hover{
  background-color: transparent;
}
.nav-text-color a, .mdegree-nav  {
  color: black;
  padding-top: 1rem;
  line-height: 1.3rem !important;
  margin-right: 2rem;
}
a.button-collapse {
  color: #1f1f1f;
  margin-top: .4rem;
  padding: 0 1rem;
  background-color: white;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 3;
  right: .2rem;
}
nav .button-collapse i {
    font-size: 35px;
    color: #656565;
}
.side-nav {
  width: 16rem;
  padding-top: 1rem;
  text-align: center;
}
.side-nav a {
  margin-right: 0;
}
.side-nav .mdegree-logo-container a:hover {
  background-color: transparent;
  border-bottom: none;
}
 .side-nav li.hide-on-med-and-up{
  border-bottom: none;
}


.second-logo-c{
  position: fixed;
  top:0rem;
  left:.5rem;
  z-index: 10;
}
.second-logo {
  transform: scale(.7);
  background-color: white;
  border-radius: 50%;
}

div.empty{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: white;
  z-index: 2;
}




@media (min-width: 321px) {
  .mdegree-logo {
    transform: scale(.7);
  }
}
@media (min-width: 450px) {
  .mdegree-nav .side-nav-button {
    display: none !important;
  }
  .mdegree-nav.nav-expanded{
    display: block;
  }
  .mdegree-logo {
    transform: scale(1);
  }

}

@media (min-width: 600px) {
  nav ul a{
    padding: 0;
  }
  .nav-text-color a, .mdegree-nav .button-collapse {
    font-size: .9rem;
    padding-top: 0;
  }
  div.empty{
    z-index: -2;
    position: absolute;
  }

  .mdegree-nav .hide-on-med-and-down {
    display: flex !important;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    position: relative;
    padding-top: 0 !important;
    margin-right: 0;
  }
  .mdegree-nav .button-collapse{
    display: none !important;
  }

  .mdegree-logo-container {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    /* padding-top: .7rem; */
  }
  .mdegree-logo {
    height: 80px;
    margin-left: -50%;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    border-radius: 50%;
    position: absolute;
    left: 0;
  }
  .mdegree-logo:hover {
    transform: scale(.9);
    /* background-color: #f9f9f9; */


  }
}

@media (min-width: 750px) {
  ul.mdegree-nav.right.hide-on-med-and-down > li:nth-child(3){
    margin-right: 4rem;
  }
}

@media (min-width: 900px) {
  .nav-container {
    width: 100%;
  }
}
