/* <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Hind:400,600" rel="stylesheet"> --> */

@font-face {
  font-family: 'Kiona', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Kiona'), local('Kiona'),
       url('/fonts/Kiona-Regular.ttf')
}

body{
  font-family: sans-serif;
  color: #010101;
  font-weight: lighter;
  font-size: 1rem;
  background-color: #fff8f8;
}
h1{
  color: black;
  font-size: 1.6rem;
  font-weight: 300;
  /* font-family: 'Kiona', sans-serif; */
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: darkgrey;
  text-align: center;
}
h3{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}
h5{
  /* font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: grey;
  text-transform: uppercase; */
  font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #616161;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
h6{
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;

}
a, span{
  font-family: 'Lato', sans-serif;
}
span {
  font-weight: bold;
}

.nav-container{
  margin-bottom: 0rem;
  margin-top: 0;
  height: 85px;
}

.mdegree-logo-container {
  height: 150px;
}


.mdegree-nav .nav-expanded{
  display: none;
}

.mdegree-nav {
  background: #fff8f8 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 85px;
}
.top-nav-mdegree a{
  margin: 0;
  margin-top: 1.7rem;
  padding: 0;
  border-bottom: 2px solid #fff8f8;
  transition: border-bottom .2s;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
.top-nav-mdegree a:hover{
  border-bottom: 2px solid  #ef7771;
  /* border-bottom: 2px solid #f17d7dd6; */
}

.nav-link-border a {
  border-bottom: 2px solid  #f37e61;
  color: grey !important;
}

nav ul a:hover{
  background-color: transparent;
}
.nav-text-color a, .mdegree-nav  {
  color: black;
  padding-top: .6rem;
  line-height: 1.1rem !important;
}

/* margin right for about link */
#about {
  margin-right: 3rem;
}
a.button-collapse {
  color: #1f1f1f;
  /* padding-top: 1rem; */
  padding: 0 1rem;
  background-color: #fff8f8;
  /* padding-bottom: 1rem; */
  position: fixed;
  top: 1.5rem;
  z-index: 25;
  right: .2rem;
}
nav .button-collapse i {
    font-size: 35px;
    color: black;
}
.side-nav {
  width: 14rem;
  /* padding-top: 1rem; */
  text-align: center;
}
.side-nav .mdegree-logo-container a{
  height: 120px;
}
.side-nav a {
  margin-right: 0;
  text-transform: uppercase;
  font-size: .85rem;
  height: 40px;
}
.side-nav .subheader a{
  color: lightgrey;
  margin-top: 2rem;
}

.side-nav .mdegree-logo-container a:hover {
  background-color: transparent;
  border-bottom: none;
}
 .side-nav li.hide-on-med-and-up{
  border-bottom: none;
}


.second-logo-c{
  position: fixed;
  top: 0rem;
  width: 100px;
  left: .3rem;
  z-index: 35;
}
.second-logo {
  transform: scale(.7);
  /* background-color: white; */
  border-radius: 50%;
}

div.empty{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff8f8;;
  z-index: 20;
}





@media (min-width: 1px) and (max-width: 600px) {
  .mdegree-logo-container .mdegree-logo {
    transform: scale(.4);
    opacity: .8;
  }
}
/* @media (min-width: 450px) {
  .mdegree-nav .side-nav-button {
    display: none !important;
  }
  .mdegree-nav.nav-expanded{
    display: block;
  }

} */

@media (min-width: 601px) {
  nav ul a{
    padding: 0;
  }
  .nav-text-color a, .mdegree-nav .button-collapse {
    font-size: .70rem;
    padding-top: 0;
  }
  div.empty{
    z-index: -2;
    position: absolute;
  }

  .mdegree-nav .hide-on-med-and-down {
    display: flex !important;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    position: relative;
    padding-top: 0 !important;
    margin-right: 0;
  }
  .mdegree-nav .button-collapse{
    display: none !important;
  }

  .mdegree-logo-container {
    float: left;
  }
  .mdegree-logo {
    height: 60px;
    /* margin-left: -50%; */
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
    top: .7rem;
  }
    .mdegree-logo {
      opacity: .8;
    }
  .mdegree-logo:hover {
    transform: scale(.9);
    /* background-color: #f9f9f9; */


  }
}


@media (min-width: 900px) {
  .nav-container {
    width: 100%;
  }
}
