.nav-container{
  margin-bottom: 3rem;
}

.mdegree-logo {
  width: 80px;
  height: 80px;
}

.mdegree-nav .nav-expanded{
  display: none;
}

.mdegree-nav {
  background: transparent !important;
  box-shadow: none !important;
}

.nav-text-color a, .mdegree-nav .button-collapse {
  color: black;
}


@media (min-width: 450px) {
  .mdegree-nav .side-nav-button {
    display: none !important;
  }
  .mdegree-nav.nav-expanded{
    display: block;
  }
}

@media (min-width: 600px) {
  .mdegree-nav .hide-on-med-and-down {
    display: block !important;
  }
  .mdegree-nav .button-collapse{
    display: none !important;
  }
}
