.home-container{
  margin: 0 0rem;
}
.row{
  margin: 0 !important;
  padding: 0 !important;
}

/* LOGO ANIMABLE */
.logo-animable-container{
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  position: relative;
}
.logo-animable{
  transform: scale(.8);
}

/*  DESSERTS NAV */
.home-desserts-container{
  text-align: center;
  padding:  0 !important;
  margin: 0 !important;
}
.home-desserts-container .col{
  padding: 0 !important;
  margin: 0;
  position: relative;
  /* margin-top: -10px !important; */
  overflow: hidden;

}
.home-desserts-container .col img{
  width: 100%;
  opacity: .7;
  transition: all .4s;
}
.home-desserts-container .col span{
  position: absolute;
  margin: 0;
  padding: 0;
  bottom:0%;
  left: 0%;
  width: 100%;
  text-align: center;
  /* text-decoration: underline; */
  border-bottom: 2px solid white;
  /* box-shadow: 0 0 .2px .1px grey; */
  z-index: 2;
  opacity: 1;
  font-size: 1.2rem;
}
.home-desserts-container  span {
  color: white;
  text-shadow: 0px 0px 0.2px #848484;
  /* font-family: sans-serif !important; */
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding:  0 !important;
  margin: 0;
}
.image-container{
  overflow: hidden;
  margin-bottom: -10px;
  background-color: lightgrey;
}

.card-mm:hover img{
  opacity: .6;
  /* transform: scale(1.1); */
}
.card-mm:focus a, .card-mm:focus span{
  opacity: 1;
  text-shadow: 1px 1px 1px grey;
  display: block;
}

@media (min-width: 601px) {
  .home-desserts-container .col img{
    opacity: .95;
  }
  .home-desserts-container .col span{
    bottom: 1rem;
    left: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
  }

  .card-mm:hover img{
    opacity: .6;
    /* transform: scale(1.1); */
  }
  .card-mm:hover a, .card-mm:hover span, .card-mm:focus a, .card-mm:focus span{
    opacity: 1;
    text-shadow: 0px 0px 0.2px #848484;
    display: block;
  }
}


@media (min-width: 900px) {
  .home-desserts-container{

    margin: 0 auto;
  }
  .card-dessert{

    padding: 0rem;
  }
}
