.desserts-container{
  padding-top: 1rem;
}

.modal {
  width: 94% !important;
  transform: scale(1) !important;
  box-shadow: none !important;
  padding-bottom: 0px;
  max-height: 85vh !important;
}
.modal-content{
  padding: .1rem 2rem !important;
}

.right{
  text-align: right;
}
.close-modal {
  cursor: pointer;
}

.secondary-image {
  width: 120px;
  height: 84px;
  margin-right: .5rem;
  margin-top: 1rem;
}

.rectangle-image-grid{
  width: 100%;
}
.m-degree-modal-footer{
  margin-bottom: 3rem;
}
.modal-footer{
  display: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}
@media (min-width: 600px) {
  .desserts-container{
    margin-top: 3rem;
    width: 94%;
    margin: 1rem auto;
  }
  .modal {
    width: 70% !important;
  }
  .m-degree-container{
    width: 90%;
    margin-left: 5%;
  }
  .secondary-image {
    width: 190px;
    height: 110px;
    margin-right: 1.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .modal{
    top: 3rem !important;
    width: 70vw !important;
    /* max-height: 85vh !important; */
  }
  .modal .modal-content {
    max-height: 83vh !important;
  }
  .m-degree-container{
    width: 70%;
    margin-left: 15%;
  }

}
