.desserts-container{
  padding-top: 1rem;
}

.modal {
  width: 94% !important;
  transform: scale(1) !important;
  box-shadow: none !important;
  padding-bottom: 0px;
  max-height: 85vh !important;
}
.modal-content{
  padding: .1rem 1.2rem !important;
}
.modal-content p{
  margin: 0!important;
}


.right{
  text-align: right;
}
.close-modal {
  cursor: pointer;
}



.rectangle-image-grid{
  width: 100%;
}
.desserts-container .m-degree-modal-footer{
  margin-bottom: 1rem;
}
.modal-footer{
  display: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}
@media (min-width: 600px) {
  .desserts-container{
    margin-top: 3rem;
    width: 94%;
    margin: 1rem auto;
  }
  .modal {
    width: 70% !important;
  }
  .modal-content .rectangle-image-grid{
    padding-top: .5rem !important;
    margin-top: 0rem;
  }
  .m-degree-container{
    width: 90%;
    margin-left: 5%;
    padding-top: 1rem;
  }
}
@media (min-width: 993px) {
  .modal {
    width: 85% !important;
  }
  .modal h5{
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .modal .modal-content {
    max-height: 85vh !important;
  }
  .m-degree-container{
    width: 80%;
    margin-left: 10%;
  }

}
