.row-of-images{

  max-height: 100%;
  margin-top: 1.5rem ;

  display: flex;
  justify-content: center;
}
.secondary-image {
  width: 100px;
  height: 70px;
  /* margin-right: .5rem;
  margin-top: 1rem; */
  cursor: pointer;
}

.main-image .secondary-image {
  width: 100%;
  height: 100%;
  margin-right: 0rem;
  margin-top: 0rem;
}

.main-image {
  max-height: 70vh;
}


/* text color#bdbdbd */


@media (min-width: 600px) {
  .secondary-image {
    width: 120px;
    height: 90px;
    padding: 0 .4rem;
  }
  .main-image .secondary-image{
    padding: 0rem;
  }
  .row-of-images{
    max-height: 90px;
    overflow: hidden;
  }
}


@media (min-width: 993px) {
  .row-of-images{
    max-height: 125px;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .secondary-image {
    width: 200px ;
    height: 100%;
  }

}

/* @media (min-width: 1300px) {
  .secondary-image {
    width: 100%;
  }
} */
