body .press {
  height: 100vh;
  padding-top: 2rem;
  background-color: white;
}
.row .col {
  padding: 0 !important;
}

.press-card {
  background-color: white;
  text-align: center;
  /* max-width: 400px;
  padding: 1rem .8rem; */
  margin: 2rem auto;
  transition: all .3s;
  margin-bottom: 4rem;
  cursor: pointer;
}

.press-card span{
  border: 1px solid black;
  padding: .5rem 5rem;
}
.brand-image img{
  width: 60%;
  margin: .5rem auto;
}
.press-card h6{
  margin: 0 auto;
  font-size: .9rem;
  color: grey;
}
.press-card p{
  font-size: .7rem;
  margin-top: .2rem;
  margin-bottom: 1rem;
  color: grey;
}

.press-card  img.rectangle-image-grid {
  opacity: 1;
  transition: all .3s;
}
.brand-image img{
  width: 45%;
  margin: .5rem auto;
}

@media (min-width: 10px ) and (max-width: 600px){
  .press .row .col {
    float: none;
  }
}

@media (min-width: 601px) {
  .m-degree-c .row{
    /* width: 95%;
    margin-left: 2.5% !important; */
    width: 100%;
    margin-left: 0% !important;
  }
  .press-card {
    margin: 2rem 0;
  }
  .press-card  img.rectangle-image-grid {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1);
    opacity: .85;
    transition: all .3s;
  }
  .press-card:hover img.rectangle-image-grid {
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
    opacity: 1;
  }
  .press-card:hover span{
     background-color: black;
     color: white;
  }
  .brand-image img{
    width: 50%;
    margin: .7rem auto;
  }
}

@media (min-width: 1350px) {
  .m-degree-c .row{
    width: 80%;
    margin-left: 10% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .press-card {
    padding: 0;
  }
}
