.desserts-container{
  padding-top: 1rem;
}

.secondary-press-image {
  width: 150px;
  height:104px;
  margin-right: .5rem;
  margin-top: 1rem;
  padding: .5rem 1rem;
}


.m-degree-press-modal-footer{
  /* margin-bottom: 3rem; */
}


@media (min-width: 601px) {
  .secondary-press-image {
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    padding-left: 1rem;

  }
  .m-degree-press-modal-footer{
    margin-bottom: 0rem;
  }
  .m-degree-press-modal-footer h5{
    margin-top: 0;
  }

}

@media (min-width: 900px) {
  .m-degree-press-modal-footer{
    width: 30% !important;
  }
  .secondary-press-image {
    padding: 0;

  }
}
