.full-back{
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  animation: faint-down ease-in-out;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  z-index: 50;
}

@keyframes faint-down {
  0% {
    top: 0;
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.logo-into{
  position: absolute;
  top: 20vh;
  left: 40vw;
  z-index: 55;
  animation: gone ease-in-out;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes gone {
  0% {
    top: 20vh;
    opacity: 1;
    transform: scale(1);
  }
  70%{
    opacity: 1;
    transform: scale(1);
    top: 20vh;
  }
  100%{
    top: 25vh;
    opacity: 0;
    transform: scale(0);
  }
}
